.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tolbar {
  flex: 1 1 auto;
}

.formu {
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  justify-content: space-around;
}

.boton_agregar{
  width: 100%;
}

/* propiedades css de la tabla */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  overflow: auto;
}
